/* css starts here */
body {
    font-family: arial; font-size: 18px;
}
header, footer {
    background-color: rgb(204, 216, 248);
}
.site-title {
    color: rgb(42, 42, 85);
}
#my-image {
    box-shadow: 0px 0px 2px 1px black;
}