/* css starts here */

/* changes background colour */
body {
    background-color: #B0D9D1;
    font-family: Arial, Helvetica, sans-serif;
}

/* adds wrapper */
.wrapper {
    width: 640px;
    margin: 0px 125px;
    background-color:#DFF2EF;
}

/* unbolds all headings */
h1, h2, h3 {
    font-weight: normal;
}

/* centers and decorates nav */
nav ul {
    text-align: center;
}

nav li {
    font-size: 18px;
    display: inline-block;
    width: 190px;
}

nav a {
    color: black;
    text-decoration: none;
}

/* changes paragraph and ul font size */
article p, div ul {
    font-size: 12px;
}

/* sizes the images correctly */
 #headerimage {
    width: 640px;
 }
 #bodyimage {
    width: 160px;
    margin: 5px;
    padding: 2px;
 }

/* aligns footer ro right */
footer {
    text-align: right;
}

/* puts box around form */
.form {
    margin: 8px;
    border: 0.5px solid black;
    padding: 20px;
}

form, form h3 {
    font-size: 12px;
}