/* css starts here */

/* unbolds all headings */
h1, h2, h3 {
    font-weight: normal;
}

/* changes body font size */



/* changes background colour */
body {
    background-color: #B0D9D1;
    font-family: Arial, Helvetica, sans-serif
}

/* adds wrapper */
.wrapper {
    width: 640px;
    margin: 0px 125px;
    background-color:#DFF2EF;
}

/* centers and decorates nav */
nav ul {
    text-align: center;
}

nav li {
    display: inline-block;
    width: 190px;
}

nav a {
    color: black;
    text-decoration: none;
}

/* sizes the images correctly */
