/* css starts here */

/* changes background colour */
body {
    background-color: #B0D9D1;
    font-family: Arial, Helvetica, sans-serif
}

.wrapper {
    width: 680px;
    background-color:#DFF2EF;
}