/* CSS RESET CODE */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* -----------CSS STARTS HERE---------- */

/* Website font change */
h1, h2, h3, body, footer {
	font-family: "Open Sans", sans-serif;
}

/* centers and aligns all elements with a class of .wrapper */
.wrapper {
    width: 360px;
    padding: 5px;
	margin: 0px auto;
}

/* ----GENERAL/APPLIES THROUGHOUT---- */
h2 {
	font-size: 26px;
	font-weight: bold;
}
h3 {
	font-size: 30px;
	font-weight: bold;
}

/*----NAV----*/
.nav-wrapper {
    background-color: #222;
}

/* centers, colours and removes decor from nav headings */
nav a {
    text-align: center;
	text-decoration: none;
	color:#c78c06;
}

/* spaces out nav headers vertically*/
nav ul li {
	padding: 15px;
}

/* colours "home" bg orange*/
nav  ul  li:nth-child(1){
    background-color: #c78c06;
}

/* colours "home" text */
nav ul li:nth-child(1) a {
	color:#222;
}

/* widens search bar */
#search {
	width: 90%;
	height: 25px;
}

nav form button {
	background-color: transparent;
	border-color:#c78c06;
	border-style: solid;
}

.fa-solid-mag {
	background-color:#222;
	margin: 0, auto;
	padding: 3px;
}

.fa-magnifying-glass {
	color: #c78c06;
	font-size: 18px;
}

/* ----WELCOME MAIN---- */
/* changes h1 size + weight */
h1 {
	font-size: 38px;
	font-weight: bold;
}

#welcome-background {
	width: 640px;
}

.fa-caret-right {
	padding: 10px;
	font-size: 25px;
}

main div button {
	width: 35%;
	height: 80px;
	font-size: 16px;
	background-color:#c78c06;
	border: none;
}

/* ----ABOUT US---- */
.about-us {
	background-color:#ffe6ac;
}

/* ----OUR SERVICES--- */

.digital {
	background-color:#ffe6ac;
}
.digital button {
	width: 30%;
	height: 65px;
	font-size: 18px;
}

.marketing {
	background-color:#ffe6ac;
}
.marketing button {
	width: 30%;
	height: 65px;
	font-size: 18px;
}

.video-production {
	background-color:#ffe6ac;
}
.video-production button {
	width: 30%;
	height: 65px;
	font-size: 18px;
}

.web-development {
	background-color:#ffe6ac;
}
.web-development button {
	width: 30%;
	height: 65px;
	font-size: 18px;
}

.print {
	background-color:#ffe6ac;
}
.print button {
	width: 30%;
	height: 65px;
	font-size: 18px;
}

/* ----OUR VISION--- */



/* ----OUR TEAM---- */
.john {
	background-color:#ffe6ac;
}
/* .john p:nth-child(1) {
	font-weight: bold;
} */
 .john hr {
	color:#c78c06;
 }

 .bob {
	background-color:#ffe6ac;
 }
 .bob hr {
	color:#c78c06;
 }

 /* ----CONTACT US---- */

 /* ----HOURS OF OPERATION---- */

 /* ----LOCATION---- */

 /* ----FOOTER---- */
 footer {
	background-color:#222;
 }
 footer p {
	color:#c78c06;
 }
 footer p a {
	color:#c78c06;
 }