/* CSS RESET CODE */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* -----------CSS STARTS HERE---------- */

/* ----GENERAL/APPLIES THROUGHOUT---- */

/* Website font change */
h1, h2, h3, body, footer {
	font-family: "Open Sans", sans-serif;
}

/* centers and aligns all elements with a class of .wrapper */
.wrapper {
	margin: 0px auto;
}

/* sets box-sizing for all elements*/
html{
	box-sizing: border-box;
  }
  *,
  *:before,
  *:after{
	box-sizing: inherit;
  }

/* changes all h2 font size & bolds */
h2 {
	font-size: 1.7rem;
	font-weight: bold;
}

/* changes h3 font size & bolds */
h3 {
	font-size: 1.2rem;
	font-weight: bold;
}

/* changes font size and increases line-weight of body text */
p {
	font-size: 0.75rem;
	line-height: 1rem;
}

/*----NAV----*/

/* colours bg of nav black, adds padding */
.nav-wrapper {
    background-color: #222;
	padding: 0.5rem;
}

/* adjusts logo size */
/* #nav-logo {
	
} */

/* centers, colours, & removes decor from nav headings, changes font size */
nav a {
    text-align: center;
	text-decoration: none;
	color:#c78c06;
	font-size: 0.75rem;
}

/* spaces out nav headers vertically*/
nav ul li {
	padding: 0.7rem;
}

/* colours "home" bg orange*/
nav  ul  li:nth-child(1){
    background-color: #c78c06;
}

/* colours "home" text */
nav ul li:nth-child(1) a {
	color:#222;
}

/* widens search bar */
#search {
	width: 90%;
	height: 1.5rem;
}

/* colours search button border, adds transparency */
nav form button {
	background-color: transparent;
	border-color:#c78c06;
	border-style: solid;
}

/*  */
.fa-solid-mag {
	background-color:#222;
	margin: 0, auto;
	padding: 3px;
}

.fa-magnifying-glass {
	color: #c78c06;
	font-size: 18px;
}

/* ----WELCOME MAIN---- */

/* changes colour and opacity of background */
.welcome-background {
	padding: 0.5rem;
	background-color: rgba(34, 34, 34, .4)
}

/* adjusts background image size */
/* #welcome-background {
	
} */

/* changes h1 size + weight, colour */
h1 {
	font-size: 2rem;
	font-weight: bold;
	color: white;
	line-height: 3rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

/* changes p colour, adds padding to top&bottom */
main div p {
	color: white;
	padding-bottom: 1rem;
}

/* postion & sizes caret on button */
.fa-caret-right {
	padding: 10px;
	font-size: 25px;
}

/* changes h&w, size, colour of button */
main div button {
	width: 45%;
	height: 55px;
	font-size: 1rem;
	background-color:#c78c06;
	border: none;
}


/* ----ABOUT US---- */

/* colours and adds padding to about-us section */
.about-us {
	background-color:#ffe6ac;
	padding: 0.5rem;
	padding-bottom: 1.5rem;
}

/* centers image */
#about-pic {
	width: 100%;
	height: auto;
	display: block;
}

section h2 {
	padding-top: 5%;
	padding-bottom: 5%;
}

/* ----OUR SERVICES--- */
div.services h2 {
	padding-top: 2rem;
	padding-bottom: 1rem;
}

/* -- DIGITAL -- */


.digital {
	background-color:#ffe6ac;
	margin: 0.5rem;
	padding: 0.5rem;
}

#digital {
	margin: -0.5rem;
	width: calc(100% + 1rem);
	display: block;
}

.digital h3, p {
	padding: 0.5rem;
}

.digital h3 {
	padding-top: 0.5r
}

.digital button {
	width: 30%;
	height: 65px;
	font-size: 12px;
}

.marketing {
	background-color:#ffe6ac;
}
.marketing button {
	width: 30%;
	height: 65px;
	font-size: 12px;
}

.video-production {
	background-color:#ffe6ac;
}
.video-production button {
	width: 30%;
	height: 65px;
	font-size: 12px;
}

.web-development {
	background-color:#ffe6ac;
}
.web-development button {
	width: 30%;
	height: 65px;
	font-size: 12px;
}

.print {
	background-color:#ffe6ac;
}
.print button {
	width: 30%;
	height: 65px;
	font-size: 12px;
}

/* ----OUR VISION--- */



/* ----OUR TEAM---- */
.john {
	background-color:#ffe6ac;
}
/* .john p:nth-child(1) {
	font-weight: bold;
} */
 .john hr {
	color:#c78c06;
 }

 .bob {
	background-color:#ffe6ac;
 }
 .bob hr {
	color:#c78c06;
 }

 /* ----CONTACT US---- */

 /* ----HOURS OF OPERATION---- */

 /* ----LOCATION---- */

 /* ----FOOTER---- */
 footer {
	background-color:#222;
 }
 footer p {
	color:#c78c06;
 }
 footer p a {
	color:#c78c06;
 }