/* CSS RESET CODE */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* -----------CSS STARTS HERE---------- */

/* --GENERAL/APPLIES THROUGHOUT-- */

/* website font change */
h1, h2, h3, body, footer {
	font-family: "Open Sans", sans-serif;
}

/* centers & aligns all elements with a class of .wrapper */
.wrapper {
	margin: 0px auto;
}

/* sets box-sizing for all elements, restricts within*/
html{
	box-sizing: border-box;
  }
  *,
  *:before,
  *:after{
	box-sizing: inherit;
  }

/* increases font-size and bolds h2 */
h2 {
	font-size: 1.7rem;
	font-weight: bold;
}

/* increases font-size & bolds h3 */
h3 {
	font-size: 1.2rem;
	font-weight: bold;
}

/* changes font-size & increases line-weight of body text */
p {
	font-size: 0.75rem;
	line-height: 1rem;
}

/*----NAV----*/

/* colours bg and adds padding */
.nav-wrapper {
	background-color:#222;
	padding: 0.5rem;
}

/* aligns nav headers vertically */
.nav-content {
	display: flex;
	flex-direction: column;
}

/* colours full bg width of logo*/
.logo-bg {
	background-color:#c78c06;
	width: 100%;
}

/* centers, colours, & removes decor from nav headings, changes font size */
nav a {
    text-align: center;
	text-decoration: none;
	color:#c78c06;
	font-size: 0.75rem;
}

/* adds padding between nav elements */
nav ul li {
	padding: 0.7rem;
}

/* colours "home" bg orange*/
nav  ul  li:nth-child(1){
    background-color: #c78c06;
}

/* colours "home" text black */
nav ul li:nth-child(1) a {
	color:#222;
}

/* widens & heightens search bar */
#search {
	width: 90%;
	height: 1.5rem;
}

/* styles search bar icon button*/
.bttn-connect {
	background-color: transparent;
	border-style: solid;
	border-color:#c78c06;
	padding: 3px;
	font-size: 0.75rem;
	color:#c78c06;
}

/* ----WELCOME MAIN---- */

/* colours and adds transparency to bg of 'welcome' */
.welcome-background {
	padding: 0.5rem;
	background-color: rgba(34, 34, 34, 0.7)
}

/* adds bg image to welcome, padding & bleeds */
.welcome {
	background-image: url('../images/main-banner.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 5rem;
	padding-bottom: 5rem;
}

/* changes h1 size, weight & colour */
h1 {
	font-size: 2rem;
	font-weight: bold;
	color: white;
	line-height: 3rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

/* changes p colour, adds padding to top&bottom */
main div p {
	color: white;
	padding-bottom: 1rem;
}

/* postion & sizes caret on button */
.bttn-connect-caret {
	color:#222;
	font-size: 1rem;
}

/* changes h&w, size, colour of button */
main div button {
	width: 45%;
	height: 55px;
	font-size: 1rem;
	background-color:#c78c06;
	border: none;
}


/* ----ABOUT US---- */

/* colours and adds padding to about-us section */
.about-us {
	background-color:#ffe6ac;
	padding: 0.5rem;
	padding-bottom: 1.5rem;
}

/* adjusts photo width */
#about-pic {
	width: 100%;
}

/* increases padding on top & bottom of h2*/
section h2 {
	padding-top: 5%;
	padding-bottom: 5%;
}

/* ----OUR SERVICES--- */

/* increases padding on top & bottom of h2*/
div.services h2 {
	padding: 0.5rem;
	padding-top: 2rem;
} 

/* colours caret icon white (applies on mulitple) */
.bttn-white-caret {
	color:white;
}

/* -- DIGITAL -- */

/* colours bg, adds margin & padding */
.digital {
	background-color:#ffe6ac;
	margin: 0.5rem;
	padding: 0.5rem;
}

/* expands image to full width of wrapper */
#digital {
	margin: -0.5rem;
	width: calc(100% + 1rem);
	display: block;
}

/* adjusts top&bottom padding of h3*/
.digital h3 {
	padding-top: 2rem;
	padding-bottom: 1rem;
}

/* adjusts bottom padding of p*/
.digital p {
	padding-bottom: 1rem;
}

/* colours & formats button */
.digital button {
	width: 30%;
	height: 4rem;
	background-color:#222;
	color: white;
	border: none;
	font-size: 0.8rem;
}

/* --MARKETING-- */

/* colours bg, adds margin & padding */
.marketing {
	background-color:#ffe6ac;
	margin: 0.5rem;
	padding: 0.5rem;
}

/* expands image to full width of wrapper */
#marketing {
	margin: -0.5rem;
	width: calc(100% + 1rem);
	display: block;
}

/* adjusts top&bototm padding of h3 */
.marketing h3 {
	padding-top: 2rem;
	padding-bottom: 1rem;
}

/* adjusts bottom padding of p */
.marketing p {
	padding-bottom: 1rem;
}

/* colours & formats button */
.marketing button {
	width: 30%;
	height: 4rem;
	background-color:#222;
	color: white;
	border: none;
	font-size: 0.8rem;
}

/* --VIDEO PRODUCTION-- */

/* colours bg, adds margin & padding */
.video-production {
	background-color:#ffe6ac;
	margin: 0.5rem;
	padding: 0.5rem;
}

/* expands image to full width of wrapper */
#video-production {
	margin: -0.5rem;
	width: calc(100% + 1rem);
	display:block;
}

/* adjusts top&bottom padding of h3*/
.video-production h3 {
	padding-top: 2rem;
	padding-bottom: 1rem;
}

/* adjusts bottom padding of p */
.video-production p {
	padding-bottom: 1rem;
}

/* colours & formats button */
.video-production button {
	width: 30%;
	height: 4rem;
	background-color:#222;
	color: white;
	border: none;
	font-size: 0.8rem;
}

/* --WEB DEVELOPMENT-- */

/* colours bg, adds margin & padding */
.web-development {
	background-color:#ffe6ac;
	margin: 0.5rem;
	padding: 0.5rem;
}

/* expands image to full width of wrapper */
#web-development {
	margin: -0.5rem;
	width: calc(100% + 1rem);
	display: block;
}

/* adjusts top&bottom padding of h3*/
.web-development h3 {
	padding-top: 2rem;
	padding-bottom: 1rem;
}

/* adjusts bottom padding of p */
.web-development p {
	padding-bottom: 1rem;
}

/* colours & formats button */
.web-development button {
	width: 30%;
	height: 4rem;
	background-color:#222;
	color: white;
	border: none;
	font-size: 0.8rem;
}

/* --PRINT-- */

/* colours bg, adds margin & padding */
.print {
	background-color:#ffe6ac;
	margin: 0.5rem;
	padding: 0.5rem;
}

/* expands image to full width of wrapper */
#print {
	margin: -0.5rem;
	width: calc(100% + 1rem);
	display: block;
}

/*  adjusts top&bottom padding of h3 */
.print h3 {
	padding-top: 2rem;
	padding-bottom: 1rem;
}

/* adjusts bottom padding of p */
.print p {
	padding-bottom: 1rem;
}

/* colours & formats button */
.print button {
	width: 30%;
	height: 4rem;
	background-color:#222;
	color: white;
	border: none;
	font-size: 0.8rem;
}

/* ----OUR VISION--- */

/* adds padding around content */
.our-vision-content {
	padding: 0.5rem;
}

/* colours h3 white */
.our-vision-content h3 {
	color: white;
	padding-top: 1.5rem;
}

/* colours p white, adds padding */
.our-vision-content p {
	color: white;
	padding-top: 1.5rem;
	padding-bottom: 1rem;
}

/* colours & formats 'learn more' button */
.our-vision-content button {
	color: white;
	background-color: rgba(34, 34, 34, 0.7);
	border-color:#c78c06;
	border-style: solid;
	padding: 1.5rem;
	width: 10rem;
	font-size: 1rem;
}

/* bg image, bleeds full width */
.our-vision {
	background-image: url('../images/vision.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

/* ----OUR TEAM---- */

/* adds padding to h2 */
div.our-team h2 {
	padding-top: 2rem;
	padding-bottom: 1rem;
}

/* --JOHN-- */

/* displays image block-level, full width*/
#john {
	width: 100%;
	display: block;
}

/* adds padding to whole element */
.john {
	padding: 0.5rem;
}

/* adds bg colour, adds padding */
.john-content {
	background-color:#ffe6ac;
	padding: 1rem;
}

/* colours & changes hz line style */
 .john-content hr {
	color:#c78c06;
	border-style: solid;
 }

 /* bolds & adds padding to job position */
 .john-content p:nth-child(2) {
	padding-top: 0.5rem;
	font-weight: bold;
 }

/* --BOB-- */

/* displays image block-level, full width */
#bob {
	width: 100%;
	display: block;
}

/* adds padding to whole element */
.bob {
	padding: 0.5rem;
}

/* adds bg colour, adds padding */
.bob-content {
	background-color:#ffe6ac;
	padding: 1rem;
}

/* colours & changes hz line style */
 .bob-content hr {
	color:#c78c06;
	border-style: solid;
 }

 /* bolds & adds padding to job position */
 .bob-content p:nth-child(2) {
	padding-top: 0.5rem;
	font-weight: bold;
 }

 /* ----CONTACT US---- */

 /* adds padding around element */
.contact-us {
	padding: 0.5rem;
}

/* adds padding around heading */
.contact-heading {
	padding: 0.5rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

/* adds more padding to heading */
.contact-us h3 {
	padding-bottom: 1rem;
}

/* displays 'full name' as block level, adds padding */
label[for=fullname] {
	display: block;
	padding-bottom: 0.5rem;
}

/* styles 'full name' input box, full width */
#fullname {
	display: block;
	width: 100%;
	height: 1.5rem;
	border-style: solid;
	border-width: 0.5px;
	height: 1.5rem;
}

/* displays 'email' as block level, adds padding */
label[for=email] {
	display: block;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

/* styles 'email' input box, full width */
#email {
	display: block;
	width: 100%;
	height: 1.5rem;
	border-style: solid;
	border-width: 0.5px;
	
}

/* displays 'message' as block level, adds padding */
label[for=message] {
	display: block;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

/* styles 'message' input box, full width & adds height */
#message {
	display: block;
	width: 100%;
	height: 7rem;
	border-style: solid;
	border-width: 0.5px;
}

/* styles 'send' button */
.contact-us-form button {
	font-size: 1rem;
	background-color:#222;
	color:#c78c06;
	border-style: none;
	margin-top: 1rem;
}

 /* ----HOURS OF OPERATION---- */

 /* adds padding to element */
 .operation-hours {
	padding: 0.5rem;
 }

 /* adds padding-bottom to h3 */
 .operation-hours h3 {
	padding-bottom: 1rem;
 }

 /* increases table width 100%, full */
table {
	width: 100%
}

/*  adds border to table*/
table, th, td {
	border: 1px solid;
}

/* adds bg colour to table heading & padding */
th {
	background-color:#ffe6ac;
	padding: 1rem;
}

/* adds padding to table data */
td {
	padding: 1rem;
}

 /* ----LOCATION---- */

 /* adds padding to element */
 .location {
	padding: 0.5rem;
 }

 /* adds padding to h3 */
 .location h3 {
	padding-bottom: 1rem;
 }
 
 /* ----FOOTER---- */

 /* colours bg, adds padding */
 footer {
	padding: 0.5rem;
	background-color:#222;
 }

 /* colours footer text, adds padding */
 footer p {
	color:#c78c06;
	line-height: 1rem;
	padding-top: 1rem;
 }

 /* colours footer's 'unsplash' link */
 footer p a {
	color:#c78c06;
 }

 /* ----MEDIA QUERY FOR SCREENS 760PX---- */

 @media screen and (min-width: 760px){

	/* GENERAL/APPLIES THROUGHOUT */

	h2 {
		font-size: 3rem;
		font-weight: bold;
	}
	
	/* changes h3 font size & bolds */
	h3 {
		font-size: 2rem;
		font-weight: bold;
	}
	
	/* changes font size and increases line-weight of body text */
	p {
		font-size: 1rem;
		line-height: 1.5rem;
	}

	/* ----NAV---- */

	.nav-content {
		max-width: 1200px;
		margin: auto;
		flex-direction: row;
		align-items: center;
	}

	.logo-bg {
		background-color:#222;
		padding: 1rem;
		flex: 1;
	}

	nav {
		flex: 2;
	}

	nav ul li {
		display: inline;
	}

	nav a {
		font-size: 1rem;
	}

	.search-bar {
		flex: 2;
		display: flex;
	}

	#search {
		width: 70%;
	}

	/* ----WELCOME/MAIN---- */

	.welcome-background {
		max-width: 1200px;
		margin: auto;
	}

	h1 {
		font-size: 5.5rem;
		line-height: 8rem;
		padding-top: 3rem;
		padding-bottom: 2rem;
	}

	main div button {
		width: 20%;
		height: 70px;
		font-size: 1.2rem;
	}
	
	/* ----ABOUT US---- */
	
	.about-us {
		background-color:#ffe6ac;
		padding-top: 1rem;
		padding-bottom: 1rem;
	}

	.about-us-wrapper {
		max-width: 1200px;
		margin: auto;
		display: flex;
		justify-content: center;
	}

	.about-us-pic {
		display: flex;
		width: 50%;
	}

	.about-us-content {
		padding: 1rem;
		width: 50%;
	}

	section h2 {
		padding-top: 0;
		padding-bottom: 0;
	}

	/* ----OUR SERVICES---- */

	.services {
		max-width: 1200px;
	}

	.services-grid {
		max-width: 1200px;
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(5, 1fr);
		
	}

	/* --grid for services-- */

	.digital {
		grid-column: 1 / 4;
		grid-row: 1 / 3;
	}

	.marketing {
		grid-column: 4 / 8;
		grid-row: 1 / span 2;
	}

	.video-production {
		grid-column: 1 / 3;
		grid-row: 3 / span 2;
	}

	.web-development {
		grid-column: 3 / 5;
		grid-row: 3 / span 2;
	}

	.print {
		grid-column: 5 / 8;
		grid-row: 3 / span 2;
	}

	/* --OUR VISION-- */

	.our-vision-content {
		max-width: 1200px;
		margin: auto;
	}

	/* --OUR TEAM-- */

	.our-team {
		max-width: 1200px;
	}

	.our-team-grid {
		display: grid;
		max-width: 1200px;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
	}

	.john-photo {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}

	.john-content {
		grid-column: 2 / 3;
		grid-row: 1 / 2;
	}

	.bob-photo {
		grid-column: 2 / 3;
		grid-row: 2 / 3;
	}

	.bob-content {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
	}

	/* ----CONTACT US---- */

	.contact-heading {
		max-width: 1200px;
	}

	.contact-us {
		max-width: 1200px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
	}

	.send-message {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}

	#message {
		height: 12rem;
	}

	.location {
		grid-column: 2 / 3;
		grid-row: 1 / 2;
		width: 100%;
	}

	.operation-hours {
		grid-column: 1 / 3;
		grid-row: 2 / 3;
		width: 100%;
		padding-top: 2rem;
	}

	/* ----FOOTER--- */

	.footer-content {
		max-width: 1200px;
	}


 }